@use "../utils/variables";

header h1 {
    font-family: 'shrikhand',cursive;
}

header {
    @extend %grid-center;
    @include grid-template-set ($header);
    padding: 1em;

    & h1{
        font-family: 'Shrikhand', cursive;
        @include grid-pos-set (1, auto, 1, auto);
    }

    & i.fa-arrow-left {
        position: absolute;
        font-size: 20px; 
        left: 2em;
        top: 1.2em;
    }

    & img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto 
    }
}